# .env

# --- Project ---
NODE_ENV=development

# --- Database (PostGIS) ---
# Используем образ postgis/postgis, он совместим с обычным postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
# Образ PostGIS 
POSTGIS_IMAGE=

# --- Redis ---
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_IMAGE=

# --- PGAdmin ---
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_PORT=
PGADMIN_IMAGE=dpage/pgadmin4:8

# --- Backend ---
BACKEND_PORT=

# --- TypeORM ---
DB_TYPE=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_ENTITIES=
DB_SYNCHRONIZE=
DB_LOGGING=

# --- JWT ---
JWT_SECRET=
JWT_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=
# --- Vector Store ---
VECTOR_DIMENSION= # Размерность вектора (зависит от модели)